<template>
  <div class="login">
    <h1>Login</h1>
    <div class="test">
      <p>测试文字: <a v-bind:href="msgUrl"> {{ msg }} </a></p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'login',
  data() {
    return {
      msg: 'Hello',
      msgUrl: 'https://www.runoob.com/vue3/vue3-tutorial.html',
    };
  },
};
</script>

<style scoped>
</style>
